<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <title>MainPage</title>
</head>
<body class="d-flex flex-column min-vh-100">

<div sec:authorize="hasRole('ROLE_ADMIN')" th:replace="partials/adminNav :: nav"></div>
<div sec:authorize="hasRole('ROLE_USER')" th:replace="partials/userNav :: nav"></div>
<div sec:authorize="isAnonymous()" th:replace="partials/guestNav :: nav"></div>

<div class="container text-center content-form mt-5">
    <h5>Магазин має каталог Товарів, для якого необхідно реалізувати можливість:</h5>
    <ul class="list-unstyled">
        <li>сортування за назвою товару (az, za);</li>
        <li>сортування товарів за ціною (від дешевих до дорогих, від дорогих до дешевих);</li>
        <li>сортування товарів за новизною;</li>
        <li>вибірки товарів за параметрами (категорія, проміжок ціни, колір, розмір, тощо).</li>
    </ul>
    <h6>
        Користувач переглядає каталог і може додавати товари до свого кошика.
        Після додавання товарів у кошик, зареєстрований користувач може зробити Замовлення.
        Для незареєстрованого користувача ця опція недоступна.
        Після розміщення замовлення, йому (замовленню) присвоюється статус 'зареєстрований'.
    </h6>
    <h5>
        Користувач має особистий кабінет, в якому може переглянути свої замовлення.
    </h5>
    <h5>Адміністратор системи володіє правами:</h5>
    <ul class="list-unstyled">
        <li>додавання/видалення товарів, зміни інформації про товар;</li>
        <li>блокування/розблокування користувача;</li>
        <li>переведення замовлення зі статусу 'зареєстрований' до 'оплачений' або 'скасований'.</li>
    </ul>
</div>

<div align="center" class="my-3">
    <a href="/products" class="btn btn-secondary" th:text="#{start_shopping}"></a>
</div>
<div th:replace="partials/footer :: footer"></div>
</body>
</html>