<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <title>Product</title>
</head>
<body class="d-flex flex-column min-vh-100">

<div sec:authorize="hasRole('ROLE_ADMIN')" th:replace="partials/adminNav :: nav"></div>
<div sec:authorize="hasRole('ROLE_USER')" th:replace="partials/userNav :: nav"></div>
<div sec:authorize="isAnonymous()" th:replace="partials/guestNav :: nav"></div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <ul>
                <li class="list-group-item">
                    <label for="name" class="font-weight-light" th:text="#{product.name}"></label>
                    <p id="name" th:text="${product.name}"></p>
                </li>
                <li class="list-group-item">
                    <label for="category" class="font-weight-light" th:text="#{product.category}"></label>
                    <p id="category" th:text="${product.category}"></p>
                </li>
                <li class="list-group-item">
                    <label for="material" class="font-weight-light" th:text="#{product.material}"></label>
                    <p id="material" th:text="${product.material}"></p>
                </li>
                <li class="list-group-item">
                    <label for="description" class="font-weight-light" th:text="#{product.description}"></label>
                    <p id="description" th:text="${product.description}"></p>
                </li>
                <li class="list-group-item">
                    <label for="price" class="font-weight-light" th:text="#{product.price}"></label>
                    <p id="price" th:text="${product.price}"></p>
                </li>
            </ul>
            <div class="row justify-content-center" th:text="#{product.available} + ${product.amount}"></div>
            <div class="row justify-content-center mt-2">
                <form method="post" th:action="@{/cart/add/} + ${product.id}">
                    <button class="btn btn-pink" type="submit" th:disabled="${product.amount} <= 0" th:text="#{product.add_to_cart}"></button>
                </form>
            </div>
        </div>

    </div>
</div>
<div th:replace="partials/footer :: footer"></div>
</body>
</html>