<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <title>Products</title>
</head>
<body class="d-flex flex-column min-vh-100">

<div sec:authorize="hasRole('ROLE_ADMIN')" th:replace="partials/adminNav :: nav"></div>
<div sec:authorize="hasRole('ROLE_USER')" th:replace="partials/userNav :: nav"></div>
<div sec:authorize="isAnonymous()" th:replace="partials/guestNav :: nav"></div>

<div class="container">
    <a class="btn btn-outline-secondary my-3" data-toggle="collapse" href="#collapseExample" role="button"
       aria-expanded="false" aria-controls="collapseExample">
        Sort&Filter
    </a>
    <div class="collapse my-3" id="collapseExample">
        <div class="form-group mt-3">
            <form class="row g-4" method="get" action="/products">
                <div class="col-md-3">
                    <label class="form-label" for="sorting" th:text="#{sort_by}"></label>
                    <select class="custom-select form-select-sm" name="sortcriteria" id="sorting">
                        <option th:each="sort: ${sorting}"
                                th:selected="${sort.name()==sortcriteria}"
                                th:value="${sort.name()}"
                                th:text="#{${sort.name()}}">
                        </option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label class="form-label" for="category" th:text="#{product.category}"></label>
                    <select class="custom-select form-select-sm" name="category" id="category">
                        <option value="ALL">[[#{all}]]</option>
                        <option th:each="cat: ${categories}"
                                th:selected="${cat.name()==category}"
                                th:value="${cat.name()}"
                                th:text="#{${cat.name()}}">
                        </option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label class="form-label" for="material" th:text="#{product.material}"></label>
                    <select class="custom-select form-select-sm" name="material" id="material">
                        <option value="ALL" th:text="#{all}"></option>
                        <option th:each="mat: ${materials}"
                                th:selected="${mat.name()==material}"
                                th:value="${mat.name()}"
                                th:text="#{${mat.name()}}">
                        </option>
                    </select>
                </div>
                <div class="col-md-3">
                    Price between
                    <div class="form-group input-group-sm">
                        <label th:text="#{price_from}" for="price_from"></label>
                        <input type="text" name="price_from" id="price_from" class="form-control"
                               th:value="${price_from}">
                        <label th:text="#{price_to}" for="price_to"></label>
                        <input type="text" name="price_to" id="price_to" class="form-control"
                               th:value="${price_to}">
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-outline-secondary" type="submit" th:text="#{apply}"></button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div th:each="product: ${productPage}" class="col-md-4 my-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a th:href="@{/products/} + ${product.id}" th:text="${product.name}"></a>
                    </h5>
                    <p class="card-text" th:text="#{${product.category}}"></p>
                    <p class="card-text" th:text="#{${product.material}}"></p>
                    <p class="card-text" th:text="${product.price}"></p>
                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/products/edit/} + ${product.id}"
                       class="btn btn-outline-secondary mr-1"
                       th:text="#{product.edit}"></a>
                    <form th:action="@{/products/delete/} + ${product.id}" method="post">
                        <button sec:authorize="hasRole('ROLE_ADMIN')" type="submit" class="btn btn-outline-danger my-2"
                                th:text="#{product.delete}"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <ul class="pagination d-flex justify-content-center">
            <li class="page-item" th:classappend="${currentPage <= 1} ? disabled">
                <a class="page-link"
                   th:href="@{/products(size=${productPage.size}, page=${currentPage - 1},
                   material=${material}, category=${category}, sortcriteria=${sortcriteria},
                   price_from=${price_from}, price_to=${price_to})}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${pageNumber == productPage.number + 1} ? active"
                th:if="${productPage.totalPages > 0}" th:each="pageNumber : ${pageNumbers}">
                <a class="page-link" th:text="${pageNumber}"
                   th:href="@{/products(size=${productPage.size}, page=${pageNumber},
                   material=${material}, category=${category}, sortcriteria=${sortcriteria},
                   price_from=${price_from}, price_to=${price_to})}">
                </a>
            </li>
            <li class="page-item" th:classappend="${currentPage >= productPage.totalPages} ? disabled">
                <a class="page-link"
                   th:href="@{/products(size=${productPage.size}, page=${currentPage + 1}, material=${material}, category=${category}, sortcriteria=${sortcriteria},
                   price_from=${price_from}, price_to=${price_to})}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div th:replace="partials/footer :: footer"></div>
</body>
</html>