<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <title th:text="#{registration}"></title>
</head>
<nav>
    <div class="lang">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{lang}">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="?lang=en" th:text="#{lang.en}"></a>
            <a class="dropdown-item" href="?lang=ua" th:text="#{lang.ua}"></a>
        </div>
    </div>
</nav>
<body class="d-flex flex-column min-vh-100">
<div class="sidenav">
    <div class="login-main-text">
        <h2 th:text="#{registration}"></h2>
        <p th:text="#{login_or_register}"></p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">

        <div class="login-form">
            <form method="post" action="/registration" th:object="${userDTO}">
                <div class="form-group">
                    <label th:text="#{fullName}"></label>
                    <input type="text" th:field="*{fullName}" id="fullName" class="form-control" th:placeholder="#{fullName}">
                    <div style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></div>
                </div>
                <div class="form-group">
                    <label th:text="#{username}"></label>
                    <input type="text" th:field="*{username}" id="username" class="form-control" th:placeholder="#{username}">
                    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                </div>
                <div class="form-group">
                    <label th:text="#{email}"></label>
                    <input type="email" th:field="*{email}" id="email" class="form-control" th:placeholder="#{email}">
                    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

                </div>
                <div class="form-group">
                    <label th:text="#{phoneNumber}"></label>
                    <input type="tel" th:field="*{phoneNumber}" id="phoneNumber" class="form-control"
                           th:placeholder="#{phoneNumber}">
                    <div style="color:red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>

                </div>
                <div class="form-group">
                    <label th:text="#{password}"></label>
                    <input type="password" th:field="*{password}" id="password" class="form-control" th:placeholder="#{password}">
                    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

                </div>
                <button type="submit" class="btn btn-pink">[[#{registration}]]</button>
                <a href="/login" class="btn btn-pink">[[#{login}]]</a>
            </form>
        </div>
    </div>
</div>
<div th:replace="partials/footer :: footer"></div>
</body>
</html>