<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <title>Product</title>
</head>
<body>
<div th:replace="partials/adminNav :: nav"></div>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" th:text="#{fullName}"></th>
            <th scope="col" th:text="#{username}"></th>
            <th scope="col" th:text="#{email}"></th>
            <th scope="col" th:text="#{phoneNumber}"></th>
            <th scope="col" th:text="#{lock_unlock}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <th scope="row" th:text="${user.id}"></th>
            <td th:text="${user.fullName}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.phoneNumber}"></td>
            <td>
                <form method="post" th:action="@{/user/unlock/} + ${user.id}">
                    <button th:if="${user.locked}" type="submit" class="btn btn-outline-success" th:text="#{unlock_user}"></button>
                </form>
                <form method="post" th:action="@{/user/lock/} + ${user.id}">
                    <button th:unless="${user.locked}" type="submit" class="btn btn-outline-danger" th:text="#{lock_user}"></button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="partials/footer :: footer"></div>
</body>
</html>