<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <title>Product</title>
</head>
<body>
<div sec:authorize="hasRole('ROLE_ADMIN')" th:replace="partials/adminNav :: nav"></div>
<div sec:authorize="hasRole('ROLE_USER')" th:replace="partials/userNav :: nav"></div>

<div class="container">
    <div class="col">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <label for="fullname" class="font-weight-light" th:text="#{fullName}"></label>
                <p th:text="${user.fullName}" id="fullname"></p>
            </li>
            <li class="list-group-item">
                <label for="username" class="font-weight-light" th:text="#{username}"></label>
                <p th:text="${user.username}" id="username"></p>
            </li>
            <li class="list-group-item">
                <label for="email" class="font-weight-light" th:text="#{email}"></label>
                <p th:text="${user.email}" id="email"></p>
            </li>
            <li class="list-group-item">
                <label for="phonenumber" class="font-weight-light" th:text="#{phoneNumber}"></label>
                <p th:text="${user.phoneNumber}" id="phonenumber"></p>
            </li>
        </ul>
    </div>

    <div class="col-12">Orders</div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" th:text="#{order.date}"></th>
            <th scope="col" th:text="#{order.total_price}"></th>
            <th scope="col" th:text="#{order.status}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order: ${orders}">
            <th scope="row" th:text="${order.id}"></th>
            <td th:text="${order.dateOfCreation}"></td>
            <td th:text="${order.totalPrice}"></td>
            <td th:text="${order.status}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="partials/footer :: footer"></div>
</body>
</html>